.password-edit-container {
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    min-height: 100vh; /* 화면 전체 높이를 기준으로 가운데 정렬 */
    padding: 20px; /* 여백 추가 */
    box-sizing: border-box; /* 패딩 포함 박스 크기 */
}

.password-edit-back {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.password-edit-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.password-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.password-input-group label {
    width: 120px; /* 고정된 너비 */
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px; /* 입력 필드와의 간격 */
}

.password-input-group input {
    flex: 1; /* 나머지 공간 차지 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.editpasswordbtn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6baf92;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.editpasswordbtn:hover {
    background-color: #519972;
}

.message-container {
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
    color: #495057;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    text-align: center;
}