.store-editcontainer {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.store-edit-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sellereditinput {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.input-group label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0; 
    width: 120px;
}

.input-group input,
.input-group select {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-group select {
    cursor: pointer;
}

.store-image-input {
    margin-top: 30px;
    margin-bottom: 20px;
}

.store-image-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.store-image-container {
    height: 200px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 20px;
}

.store-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.image-upload-input {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    gap: 15px; 
}

.image-upload-container {
    height: 200px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 20px;
}

.store-newimage-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.store-image-preview img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.editinfobtn {
    width: 100%;
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6baf92;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editinfobtn:hover {
    background-color: #519972;
}

.editselect,
.editstartPickup,
.editendPickup {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
}
