html,
body {
    height: 100%;
    margin: 0;
}

.login-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.login-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    font-size: 2.5rem;
    color: #6BAF92;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.login-id,
.login-pw {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin-top: 20px;
    background-color: #6BAF92;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #519972;
}

.remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.id-check {
    margin-top: 20px;
    margin-right: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 0.5rem;
}

.link {
    color: #696969;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #333;
    text-decoration: underline;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        width: 80%;
    }

    .logo {
        font-size: 2rem;
    }

    .login-title {
        font-size: 1.5rem;
    }

    .login-id,
    .login-pw,
    .login-button {
        font-size: 1rem;
    }

    .sns-login {
        gap: 0.8rem;
    }

    .sns-button {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1.8rem;
    }

    .login-title {
        font-size: 1.3rem;
    }

    .login-id,
    .login-pw,
    .login-button {
        padding: 10px;
        font-size: 0.9rem;
    }

    .sns-button {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 0.9rem;
    }
}
