.order-list-container {
    width: 800px; /* 컨테이너 크기 조정 */
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.order-list-title {
    font-size: 26px; /* 폰트 크기 조정 */
    font-weight: bold;
    color: #3a7448;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #6BAF92;
    padding-bottom: 8px;
}

.monthly-total, .daily-total {
    font-size: 1.1rem;
    font-weight: bold;
    color: #6BAF92;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.calendar-wrapper {
    margin: 15px 0;
    background-color: #e3e3e3;
    /* border: 1px solid #6BAF92; */
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3a7448;
    margin-bottom: 20px;
    margin-top: 5px;
}

.react-calendar {
    display: flex;
    width: 100%;
    /* max-width: 600px; */
    padding: 15px;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.react-calendar__tile {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80px; /* 타일 크기 축소 */
    font-size: 0.9rem; /* 폰트 크기 축소 */
    color: #333;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.react-calendar__tile:enabled:hover {
    background-color: #eaf8ed; /* 밝은 녹색 */
    transform: scale(1.03);
}

.react-calendar__tile--active {
    background-color: #6BAF92 !important; /* 선택된 날짜 배경색을 녹색으로 */
    color: #fff !important; /* 글자색을 흰색으로 */
    font-weight: bold;
    border-radius: 8px;
}

.react-calendar__tile--active:focus {
    background-color: #6BAF92 !important; /* 선택된 날짜의 포커스 배경색도 녹색 */
    color: #fff !important; /* 글자색을 흰색으로 */
    outline: none; /* 포커스 테두리 제거 */
}

.react-calendar__tile--active:hover {
    background-color: #4e9675 !important; /* 선택된 상태에서 호버 시 어두운 녹색 */
    color: #fff !important; /* 글자색을 흰색으로 */
}

.react-calendar__month-view__weekdays {
    font-size: 1rem;
    text-align: center;
    color: #4b4b4b;
    font-weight: bold;
    text-decoration: none;
}

.react-calendar__tile--now {
    background: #d8f2e2; /* 현재 날짜 강조 */
    color: #3a7448;
    font-weight: bold;
}

.calendar-tile-content {
    font-size: 12px; /* 폰트 크기 축소 */
    color: #3a7448;
    margin-top: 3px;
    text-align: center;
}

.no-orders-message {
    text-align: center;
    color: #c04b59;
    font-style: italic;
    font-size: 15px;
}

.order-list {
    list-style: none;
    padding: 0;
}

.order-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #6BAF92;
    border-radius: 10px;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); */
}

.order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #3a7448;
    gap: 8px;
}

.order-details {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.order-detail-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.order-detail-item:last-child {
    border-bottom: none;
}

.order-detail-item p {
    font-size: 14px;
    margin: 0;
}

.order-detail-item span {
    font-size: 14px;
    color: #888;
}

.order-detail-item .item-quantity {
    color: #333;
}

.order-detail-item .item-price {
    color: #ff6f61;
}

.order-detail-item:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.menu-quantity {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.toggle-button {
    background-color: #6BAF92;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.8rem; 
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
    background-color: #4e9675;
    transform: scale(1.03);
}

.react-calendar__tile > abbr {
    font-size: 1rem;
    font-weight: bold;
    color: #3a7448;
}
