.signup-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.signup-logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.signup-logo {
    color: #6BAF92;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

.signup-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.signup-title {
    color: #333;
    font-size: 27px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.signup-input input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.image-upload {
    margin: 15px 0;
    text-align: left;
}

.image-label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.storeImage {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.sign-up-option-input select, .sign-up-time-selection select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.time-selection p {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.signup-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #6BAF92;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #519972;
}

.sns-login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sns-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.sns-button.naver {
    background-color: #2EB400;
}

.sns-button.kakao {
    background-color: #FEE500;
    color: #4d3628;
}
